<div class="container">
  <h1>
    Welcome to {{ greet }}!
  </h1>
    <br>
    <div class="add">
      <div *ngIf="error">{{ error }}</div>
        <form (submit)="onSubmit()">
          Type:
          <input type="text"
          name="newCake.type"
          [(ngModel)]="newCake.type"
          required
          minlength="2"
          maxlength="32"
          #type="ngModel"
          >
          <br>
          Image:
          <input type="text"
          name="newCake.image"
          [(ngModel)]="newCake.image"
          required
          minlength="2"
          maxlength="255"
          #image="ngModel"
          >
          <input type="submit" value="Submit">
            <button (click)="goHome()">Cancel</button>
        </form>
      </div>
  </div>
<br>
<div class="col-sm">
  <div class="cakeList">
    <div *ngFor="let c of cakes">
      <form class="form" id="cakeForm" (submit)="ratedCake(cake._id)">
        <input type="hidden" [(ngModel)]="ratedCake['_id']" name="cake._id"  >
            <select [(ngModel)]="ratedCake.stars" name="ratedCake.stars" >
                    <option value="1">1 Star</option>
                    <option value="2">2 Stars</option>
                    <option value="3">3 Stars</option>
                    <option value="4">4 Stars</option>
                    <option value="5">5 Stars</option>
            </select>
            <input type="text" [(ngModel)]="ratedCake.comment" name="comment" class="form-control">
            <button  class="btn btn-primary btn-sm" >Rate</button>
      </form>
      <img   src="{{cake['image']}}" width="100" height="100">
    </div>
  </div>
</div>
<br>
<app-cake></app-cake>
