<div class="container">
  <h1>{{ title }}</h1>
  <form (submit)="createNote()">
    <span>Note:</span><input type="text" name="note.content" [(ngModel)]="note.content" placeholder=""><span></span>
    <input type="submit" value="Add Note" class="buttonSubmit">
  </form>
<hr>
  <table id="notes">
    <tbody>
      <tr *ngFor="let note of notes">
        <td>
          <span>{{note.content}}</span>
          <span class="timestamp">Created: {{note.createdAt | date: "MMM dd, yyyy, h:mm:ss a"}} <button (click)="deleteNote(note._id)" class="buttonDelete">Delete</button></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
